<%- include('../layout/headerBack.ejs')%>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Category</h2>
                        
                    </div>
                    <% if(data!=='undefined'){%>
                    <div class="success text-success mb-4 mx-2">
                        <p><%= data%></p>
                    </div>
                    <%}%>
                    <div class="error text-danger mb-4 mx-2" id="error">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/admin/category-add" onsubmit="return categoryValidation(event)">
                                <div class="mb-4">
                                    <label for="category_name" class="form-label">Category Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="category_name" name="categoryName">
                                    <span id="error-category" class="text-danger m-3"></span>
                                </div>
                                <div class="mb-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="list" id="flexRadioDefault1" checked value="true">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          List
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="list" id="flexRadioDefault2" value="false">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                          Unlist
                                        </label>
                                      </div>
                                </div>
                                <div class="mb-4">
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
                                </div>
                            </form>
                        </div>
                    </div> <!-- card end// -->
                     
                </div>
                
            </div>
        </section> <!-- content-main end// -->
        <%- include('../layout/footerBack.ejs')%>